<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992932272664-d04b89ccdef8dqj3u6i04hnca2dq4ds1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992932272664-d04b89ccdef8dqj3u6i04hnca2dq4ds1</string>
	<key>API_KEY</key>
	<string>AIzaSyCYyNtq8aYAb2AfVvqRiPlPhjLOD2wwkt8</string>
	<key>GCM_SENDER_ID</key>
	<string>992932272664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.gopizza</string>
	<key>PROJECT_ID</key>
	<string>gopizza-80e71</string>
	<key>STORAGE_BUCKET</key>
	<string>gopizza-80e71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992932272664:ios:621afdd1cbf221486bc16d</string>
</dict>
</plist>